#########################################################################################################################
# This is like a blank form or template for any sensitive config values like passwords or API keys.
# This shows us what variables the project needs but it uses placeholder values instead of our real ones.
#
# To use this template you need to copy it to a new file called .env 
# Im pretty sure the UNIX command would just be cp .env.example .env 
#
# Then open this new file and replace the placeholdersx with the real passwords and API keys, things like that. 
#
# From what i have learned through watching tutorials and other examples we never want to push this, 
# So because of this i listed it in a .gitignorefile so that it will not be uploaded.
# 
# I also think to get our password from the .env file onto django so it conenct to mysql you need to do these steps: 
#  1. In the .env file type the real password for the database in place of the placeholder value.
#  2. Then in settings.py , we call load_dotenv() to load the environment variables from the .env file.
#  3. Also in settings.py, we use os.getenv('DB_PASSWORD') to retrieve the value. 
#  4. Then I believe Django now has the real password for MySQL and can conenct. 
#########################################################################################################################

#Django settings
DJANGO_SECRET_KEY=change-to-a-random-secret-key #Django uses a secret key for security
DJANGO_DEBUG=True                               #From what i understand this stays true while we test things 
DJANGO_ALLOWED_HOSTS=localhost                  #A list of hosts goes here that can access the app 

#MySQL Database Settings
DB_NAME=spray_records
DB_USER=root                                    #The default admin name i think is root but you can change it if you guys want 
DB_PASSWORD=your_mysql_password
DB_HOST=127.0.0.1                               #This is the local address for the database, if we set it up somewhere else we can change this to the server address 
DB_PORT=3306                                    #The default port for MySQL is 3306

#Google Maps API Key 
GOOGLE_MAPS_API_KEY=put-key-here               #We will need this to use google maps in our app, im pretty sure we get this key from the google cloud platform